@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: linear-gradient(180deg, #020617, #0f172a);
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
}
